* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  background-image: url("https://images.unsplash.com/photo-1512284386138-e4afa2348a9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y2hyaXN0bWFzJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1300&q=80");
  background-repeat: no-repeat;
  background-size: cover;
 
}

.App {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Corinthia", cursive;
}

.title {
  font-size: 30px;
  margin: 50px;
}

.list-gif {
  width: 50%;

  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  position: relative;
}
.gift ul {
  list-style-type: none;
  list-style-image: url("gifts.png");
  font-size: 35px;

  margin: 10px;
}
.gift ul li {
  margin: 10px;
}
.input {
  display: flex;
  margin: 10px;
}
.input input {
  background-color: transparent;
  border: none;
  margin-left: 5px;
  border-bottom: 1px solid black;
  font-family: "Corinthia", cursive;
  font-size: 20px;
}

.input button {
  border-radius: 10%;
  font-family: "Corinthia", cursive;
  border : 1px solid black
}
